
@import 'mixins.scss';
@import 'common.scss';

$dtb-button-colour: rgba(0, 0, 0, 0.1) !default;
$dtb-button-focus-colour: rgba(121, 172, 233, 1) !default;
$dtb-button-border: 1px solid dtb-shade(transparent, 30%) !default;

button.dt-button,
div.dt-button,
a.dt-button,
input.dt-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 0.167em;
	margin-right: 0.167em;
	margin-bottom: 0.333em;
	padding: 0.5em 1em;
	border: $dtb-button-border;
	border-radius: 2px;
	cursor: pointer;
	font-size: 0.88em;
	line-height: 1.6em;
	color: black;
	//box-shadow: 1px 1px 3px #ccc;
	white-space: nowrap;
	overflow: hidden;
	@include dtb-two-stop-gradient(
		lighten($dtb-button-colour, 90%),
		$dtb-button-colour
	);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	outline: none;
	text-overflow: ellipsis;

	&:first-child {
		margin-left: 0;
	}

	&.disabled {
		cursor: default;
		opacity: 0.4;
	}

	&:active:not(.disabled),
	&.active:not(.disabled) {
		@include dtb-two-stop-gradient(
			lighten($dtb-button-colour, 70%),
			darken($dtb-button-colour, 20%)
		);
		box-shadow: inset 1px 1px 3px #999999;

		&:hover:not(.disabled) {
			box-shadow: inset 1px 1px 3px #999999;
			@include dtb-two-stop-gradient(
				lighten($dtb-button-colour, 50%),
				darken($dtb-button-colour, 50%)
			);
		}
	}

	&:hover {
		text-decoration: none;
	}

	&:hover:not(.disabled) {
		border: 1px solid #666;
		@include dtb-two-stop-gradient(
			lighten($dtb-button-colour, 60%),
			darken($dtb-button-colour, 30%)
		);
	}

	&:focus:not(.disabled) {
		border: 1px solid #426c9e;
		text-shadow: 0 1px 0 #c4def1;
		outline: none;
		@include dtb-two-stop-gradient(
			lighten($dtb-button-focus-colour, 20%),
			$dtb-button-focus-colour
		);
	}

	span.dt-down-arrow {
		position: relative;
		top: -2px;
		color: rgba(70, 70, 70, 0.75);
		font-size: 8px;
		padding-left: 10px;
		line-height: 1em;
	}
}


.dt-button embed { 
	outline: none;
}


div.dt-buttons {
	position: relative;
	float: left;

	&.buttons-right {
		float: right;
	}
}

// DT2 layout does not need or want a float
div.dataTables_layout_cell div.dt-buttons {
	float: none;

	&.buttons-right {
		float: none;
	}
}

div.dt-btn-split-wrapper {
	display: inline-block;
}

div.dt-button-collection {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	margin-top: 3px;
	padding: 4px 4px 2px 4px;
	border: 1px solid #ccc;
	border: 1px solid rgba( 0, 0, 0, 0.4 );
	background-color: white;
	overflow: hidden;
	z-index: 2002;
	border-radius: 5px;
	box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;

	button.dt-button,
	div.dt-button,
	a.dt-button {
		position: relative;
		left: 0;
		right: 0;
		width: 100%;

		display: block;
		float: none;
		margin: 4px 0 2px 0;

		&:active:not(.disabled),
		&.active:not(.disabled) {
			@include dtb-two-stop-gradient(#f0f0f0, #dadada);
			box-shadow: inset 1px 1px 3px #666;
		}

		&:first-child {
			margin-top: 0;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	div.dt-btn-split-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;
		margin: 4px 0 2px 0;

		button.dt-button {
			margin: 0;
			display: inline-block;
			width: 0;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 50px;
			border-radius: 0;
		}

		button.dt-btn-split-drop {
			min-width: 20px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 0;
		}

		&:first-child {
			margin-top: 0;

			button.dt-button {
				border-top-left-radius: 3px;
			}

			button.dt-btn-split-drop {
				border-top-right-radius: 3px;
			}
		}

		&:last-child {
			button.dt-button {
				border-bottom-left-radius: 3px;
			}

			button.dt-btn-split-drop {
				border-bottom-right-radius: 3px;
			}
		}

		&:active:not(.disabled),
		&.active:not(.disabled) {
			button.dt-button {
				@include dtb-two-stop-gradient(#f0f0f0, #dadada);
				box-shadow: inset 0px 0px 4px #666;
			}
			button.dt-btn-split-drop {
				box-shadow: none;
			}
		}
	}

	&.fixed {
		.dt-button {
			margin-left: 0.167em !important;
			margin-right: 0.167em !important;
			margin-bottom: 0.333em !important;
			
			&:first-child {
				margin-top: 4px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:last-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	@include dtb-fixed-collection();
}

div.dt-button-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	@include dtb-radial-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) );

	z-index: 2001;
}

@media screen and (max-width: 640px) {
	div.dt-buttons {
		float: none !important;
		text-align: center;
	}
}

button.dt-button.processing,
div.dt-button.processing,
a.dt-button.processing {
	@include dtb-processing();
}

button.dt-btn-split-drop {
	margin-left: calc(-1px - 0.333em);
	padding-bottom: calc(0.5em - 1px);
	border-radius: 0px 1px 1px 0px;
	color: rgba(70, 70, 70, 0.9);
	border-left: none;
	
	span.dt-btn-split-drop-arrow {
		position: relative;
		top: -1px;
		left: -2px;
		font-size: 8px;
	}

	&:hover {
		z-index: 2;
	}
}

button.buttons-split {
	border-right: 1px solid rgba( 70, 70, 70, -0.3);
	border-radius: 1px 0px 0px 1px;
}

button.dt-btn-split-drop-button {
	background-color: rgba(255, 255, 255, 1);

	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}