
@import 'mixins.scss';
@import 'common.scss';

div.dt-button-collection {
	position: absolute;
	z-index: 2001;
	min-width: 200px;
	background: white;

	div.dropdown-menu {
		display: block;
		z-index: 2002;
		min-width: 100%;
	}

	div.dt-btn-split-wrapper {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;

		button {
			margin-right: 0px;
			display: inline-block;
			width: 0;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 50px;
			margin-top: 0px;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		button.dt-button {
			min-width: 30px;
			margin-left: -1px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 0;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			padding: 0px;
		}
	}

	@include dtb-fixed-collection();

	// We need the dropdown stylings on the container, not the dropdown content
	max-width: none;
	display: block;
	box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
	border-radius: 4;
	padding-top: .5rem;

	.dropdown-content {
		box-shadow: none;
		padding-top: 0;
		border-radius: 0;
	}

	&.fixed {
		&:before,
		&:after {
			display: none;
		}
	}
}

div.dt-button-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

@media screen and (max-width: 767px) {
	div.dt-buttons {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 0.5em;

		a.btn {
			float: none;
		}
	}
}

div.dt-buttons {
	button.btn.processing,
	div.btn.processing,
	a.btn.processing {
		@include dtb-processing();
	}

	button.button {
		margin-left: 5px;
		&:first-child {
			margin-left: 0px;
		}
	}
}

span.dt-down-arrow {
	display: none;
}

span.dt-button-spacer {
	display: inline-flex;
	margin: 0.5em;
	white-space: nowrap;
	align-items: center;
	font-size: 1rem;

	&.bar {
		&:empty {
			height: inherit;
		}
	}
}


div.dt-button-collection span.dt-button-spacer {
	text-align: left;
	font-size: .875rem;
	padding-left: 1rem !important;
}

div.dt-btn-split-wrapper {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;

	button {
		margin-right: 0px;
		display: inline-block;
		margin-top: 0px;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	button.dt-button {
		min-width: 30px;
		margin-left: -1px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 0px;
	}
	margin-bottom: 0px !important;

	&:active:not(.disabled),
	&.active:not(.disabled),
	&.is-active:not(.disabled) {
		button {
			background-color: #eee;
			border-color: transparent;
		}
		button.dt-button {
			box-shadow: none;
			background-color: rgb(245,245,245);
			border-color: transparent;
		}
		button {
			&:hover {
				background-color: #eee;
				border-color: transparent;
			}
		}
	}
}