
@import 'mixins.scss';
@import 'common.scss';

div.dt-button-collection {
	position: absolute;
	z-index: 2001;
	min-width: 200px;

	div.dropdown-menu {
		display: block;
		z-index: 2002;
		min-width: 100%;
	}

	div.dt-button-collection-title {
		background-color: white;
		border: 1px solid rgba(0, 0, 0, 0.15);
	}

	div.dt-btn-split-wrapper {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;

		button {
			margin-right: 0px;
			display: inline-block;
			width: 0;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 50px;
			margin-top: 0px;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		button.dt-button {
			min-width: 30px;
			margin-left: -1px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 0;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			padding: 0px;
		}
	}

	@include dtb-fixed-collection();

	&.fixed {
		max-width: none;

		&:before,
		&:after {
			display: none;
		}
	}
}

div.dt-button-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

@media screen and (max-width: 767px) {
	div.dt-buttons {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 0.5em;

		a.btn {
			float: none;
		}
	}
}

div.dt-buttons {
	button.btn.processing,
	div.btn.processing,
	a.btn.processing {
		@include dtb-processing();
	}

	button.button {
		margin-left: 5px;
		&:first-child {
			margin-left: 0px;
		}
	}
}

span.dt-down-arrow {
	display: none;
}

span.dt-button-spacer {
	display: inline-flex;
	margin: 0.5em;
	white-space: nowrap;
	align-items: center;
	font-size: 1rem;

	&.bar {
		&:empty {
			height: inherit;
		}
	}
}


div.dt-button-collection span.dt-button-spacer {
	text-align: left;
	font-size: .875rem;
	padding-left: 1rem !important;
}
